# Ignore all files in the root directory
/*

# Except for these specific files in the root directory
!verified.png
!verified-account.png
!AcA2LnWL_400x400.jpg

# Ignore all files in profileUser
profileUser/*
# except
!profileUser/90d6234278f61977c4e9d2c34836c418.jpg
!profileUser/default-female-user-profile-icon-vector-illustration_276184-169.jpg

# Ignore all files in ComputersImages
ComputersImages/*
